<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIHfk5c3GP-eeFwqDom-jCrrTCNIi8Ts4</string>
	<key>GCM_SENDER_ID</key>
	<string>370276479498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialNetwork</string>
	<key>PROJECT_ID</key>
	<string>proof-of-concept-de7fe</string>
	<key>STORAGE_BUCKET</key>
	<string>proof-of-concept-de7fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370276479498:ios:71e455aa8d85a8ceb8a5f3</string>
</dict>
</plist>